<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andreaits.cityprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.CityContentProvider"
            android:authorities="com.example.andrea_cityContentProvider"
            android:exported="false" />
        <provider
            android:name=".data.DetectionContentProvider"
            android:authorities="com.example.andrea_detectionContentProvider"
            android:exported="false" />

    </application>

</manifest>